{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Hi, {{ current_user.username }}!</h2>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br> <!-- can't the line break be after "endif" ? -->
    {% endif %}
    {% for post in posts %}
    <!-- <p><b>{{ post.author.username }} says:</b> {{ post.body }}</p> -->
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}