{% extends "base.html" %}

{% block app_content %}
    <h2>Messages for {{ current_user.username }}</h2>
    <p><a href="{{ url_for('main.sent_messages') }}">View Sent Messages</a></p>
    {% for post in messages %} <!-- also uses backref='author' -->
        {% include '_conversation.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer conversations
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older conversations <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}